# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv
venv/
ENV/
env/
*.env

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build artifacts
*.zip
*.mp3
